[submodule "submodules/cv-stack"]
	path = submodules/cv-stack
	url = https://github.com/umigv/cv-stack.git
	branch = master
[submodule "submodules/nav-stack"]
	path = submodules/nav-stack
	url = https://github.com/umigv/nav_stack.git
	branch = main
[submodule "submodules/embedded-ros-marvin"]
	path = submodules/embedded-ros-marvin
	url = https://github.com/umigv/embedded_ros_marvin.git
	branch = main
[submodule "submodules/nav-infrastructure"]
	path = submodules/nav-infrastructure
	url = https://github.com/umigv/nav_infrastructure.git
	branch = main
[submodule "submodules/nav-plugins"]
	path = submodules/nav-plugins
	url = https://github.com/umigv/nav_plugins.git
	branch = main
